<div class="recipes">
    <app-filter (filterChanged)="initLoad(1, 20)"></app-filter>
    <div class="scrolling-recipes" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="true">
        <app-recipe-card [recipe]="recipe"
                         *ngFor="let recipe of recipes"
                         routerLink="/recipes/{{recipe.id}}">
        </app-recipe-card>
        <ngx-spinner
            class="spinner"
            bdOpacity = 0
            bdColor = "white"
            size = "default"
            color = "grey"
            type = "pacman"
            [fullScreen]= "false"
            [disableAnimation] = "true">
        </ngx-spinner>
    </div>
</div>
