<mat-form-field class="filter search" appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="filter.searchPhrase" (keyup.enter)="applyFilter()">
  <mat-hint>Search for a word or a phrase</mat-hint>
</mat-form-field>

<mat-form-field class="filter minServ" appearance="fill">
  <mat-label>Minimun Servings</mat-label>
  <input matInput [(ngModel)]="filter.minServings" (keyup.enter)="applyFilter()">
  <mat-hint>Filter for minimum servings</mat-hint>
</mat-form-field>

<mat-form-field class="filter maxTime" appearance="fill">
  <mat-label>Maximum time in minutes</mat-label>
  <input matInput [(ngModel)]="filter.maxDurationInMinutes" (keyup.enter)="applyFilter()">
  <mat-hint>Filter for max time in minutes</mat-hint>
</mat-form-field>

<mat-form-field class="filter maxCal" appearance="fill">
  <mat-label>Maximum Calories</mat-label>
  <input matInput [(ngModel)]="filter.maxCalories" (keyup.enter)="applyFilter()">
  <mat-hint>Filter for max calories</mat-hint>
</mat-form-field>

<mat-form-field class="filter diff" appearance="fill">
  <mat-label>Difficulty</mat-label>
  <mat-select (selectionChange)="changeDifficulty($event.value)">
    <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
      {{difficulty}}
    </mat-option>
  </mat-select>
  <mat-hint>Filter for recipe difficulty</mat-hint>
</mat-form-field>

<button mat-flat-button class="filter searchButton" color="primary" (click)="applyFilter()">Search</button>
