.filter {
    margin-top: 4.5rem;
    margin-right: 0.4rem;
    position: fixed;
    top: 0;
    left: 10%;
}

.filter2 {
  margin-top: 9.5rem;
  margin-right: 0.4rem;
  position: fixed;
  top: 0;
  left: 10%;
}

.filter3 {
  margin-top: 14.5rem;
  margin-right: 0.4rem;
  position: fixed;
  top: 0;
  left: 10%;
}

.filter4 {
  margin-top: 19.5rem;
  margin-right: 0.4rem;
  position: fixed;
  top: 0;
  left: 10%;
}

.filter5 {
  margin-top: 24.5rem;
  margin-right: 0.4rem;
  position: fixed;
  top: 0;
  left: 10%;
}
