.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
}

button {
  margin-left: 0.5rem;
}

.profile {
  margin-left: 85rem;
}

.register {
  margin-left: 1rem;
}

.login {
  margin-left: 80rem;
}
