.background {
  background-color: darkgray;
  height: 100%;
  padding-top: 5.1rem;
  color: white;
}

.background-overflow {
  background-color: darkgray;
  padding-top: 5.1rem;
  color: white;
}

.buttons {
  margin-top: 1.4rem;
  margin-left: -2rem;
}

.form {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-left: 11rem;
}

.form2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.form-field-div {
  background-color: rgb(75, 69, 68);
  padding: 2rem;
}

mat-form-field {
  padding: 1rem;
}

h1, h2 {
  margin-left: 2.3rem;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  margin-left: 21rem;
}
