<mat-card class="card" [routerLink]="['/recipes/id', recipe.id]">
  <mat-card-header>
    <mat-card-title>{{recipe.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="icons">
      <span class="icon-span">
        <mat-icon svgIcon="meal-kcal" class="icon"></mat-icon>
        <span *ngIf="recipe.calories !== null">
          {{recipe.calories}} kcal
        </span>
        <span *ngIf="recipe.calories === null">
          unknown
        </span>
      </span>
      <span class="icon-span">
        <mat-icon svgIcon="clock" class="icon"></mat-icon>
        {{recipe.durationInMinutes}} min
      </span>
      <span class="icon-span">
        <mat-icon svgIcon="serving" class="icon"></mat-icon>
        {{recipe.servings}} serving(s)
      </span>
      <span class="icon-span">
        <mat-icon svgIcon="speedometer" class="icon"></mat-icon>
        {{getDifficulty()}}
      </span>
    </div>
  </mat-card-content>
</mat-card>
