
<div class="dropdown">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Max number of missing ingredients</mat-label>
    <mat-select [(value)]="maxNumberOfMissingIngredients">
      <mat-option *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="number">
        {{number}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="filter search form-field" appearance="fill">
  <mat-label>Add ingredient</mat-label>
  <input matInput [(ngModel)]="ingredientToAdd" (keyup.enter)="addIngredient()">
  <mat-hint>Type in one of your ingredients</mat-hint>
  </mat-form-field>

  <mat-chip-list class="filter chips">
    <mat-chip *ngFor="let ingr of filter.ingredients; let i = index" color="primary" (removed)="removeIngredient(i)">
      {{ingr}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
</div>
<div class="search-button">
  <button mat-flat-button class="filter searchButton" color="primary" (click)="applyFilter()">Search</button>
</div>
